.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 56px;
  background-color: $blue04;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  @include btn_text;

  &:hover,
  &:active {
    background-color: $blue03;
  }

  &:hover {
    color: $blue05;
  }

  &:active {
    color: $blue01;
  }

  &:disabled {
    background-color: gray;
    color: lightgray;

    &:hover,
    &:active {
      background-color: gray;
      color: lightgray;
    }
  }
}

.close-button {
  width: 3em;
  height: 3em;

  &::before,
  &::after {
    content: "";
    display: block;
    border-bottom: 1px solid $blue02;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:focus::before,
  &:hover::before,
  &:focus::after,
  &:hover::after {
    border-color: $blue05;
  }
}

.more-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
  // width: 127px;
  height: 30px;
  color: $blue04;
  transition: column-gap 0.3s;

  &:hover,
  &:active {
    column-gap: 36px;
  }

  &:hover {
    color: $blue05;
  }

  &:active {
    color: $blue01;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}