// colors
$blue01: rgb(31, 63, 104);
$blue02: rgb(49, 96, 153);
$blue03: rgb(53, 110, 173);
$blue04: rgb(90, 152, 208);
$blue05: rgb(152, 195, 232);
$white: #FFF;
$yellow_grad: linear-gradient(238.37deg, #FFF8E1 0.54%, #FFCC80 88.49%);
$lightblue_grad: linear-gradient(180.99deg, rgba(255, 255, 255, 0) 6.19%, rgba(100, 181, 246, 0.6) 103.09%);
$blue_grad: linear-gradient(183.81deg, #98D0FC -3.62%, #3481D7 88.96%);
$red_grad: linear-gradient(180deg, #EB5757 0%, #872727 100%);
$violet_grad: linear-gradient(180deg, #AF6CED 0%, #5E199D 100%);
$border: 1px solid #FFF;

@mixin shadow {
    background: #C4C4C4;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
}