.footer {
  &__container {
    background-color: $blue04;
    padding-right: min(7vw, 96px);
  }

  &__subcontainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
    row-gap: 64px;
    position: relative;
    background-color: $blue02;
    @include paddings;
    // padding-top: 96px;
    // padding-right: clamp(20px, 23.4vw, 320px);
    // padding-right: clamp(20px, 15vw, 213px);
    padding-bottom: 64px;
    // padding-left: clamp(20px, 15vw, 213px);

    @media (max-width: 768px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__border {
    position:absolute;
    top: 0;
    left: 0;
    width: min(84.5%, 1073px);
    height: 0px;
    border-top: $border;
    opacity: 0.4;
  }

  &__wrapper {
    display: flex;
    column-gap: min(7.3vw, 100px);

    @media (max-width: 768px) {
      align-items: center;
      flex-direction: column;
      row-gap: 20px;
      width: 100%;
    }
  }

  &__nav-wrapper {
    display:flex;
    column-gap: clamp(10px, 5.6vw, 77px);

    @media (max-width: 768px) {
      justify-content: space-between;
    }
  }

  &__nav-list{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    row-gap: 16px;
  }

  &__nav-item {
    width: max-content;
  }

  &__nav-link {
    @include footer_main_text;

    &:hover,
    &:active {
      color: $blue05;
    }
  }

  &__nav-title {
    @include footer_title;

    width: max-content;
    margin-bottom: 32px;
  }

  &__sign {
    @include sign_text;

    @media (max-width: 768px) {
      width: 100%;
      text-align: center;
    }
  }

}