/* Footer */
.footer {
  &__container {
    background-color: $blue04;
    padding-right: min(7vw, 96px);

    @media (max-width: 768px) {
      padding-right: 0;
    }
  }

  &__subcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 64px;
    position: relative;
    background-color: $blue02;
    @include paddings;
    padding-top: 96px;
    padding-bottom: 64px;

    @media (max-width: 768px) {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    @media (max-width: 576px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &__border {
    position: absolute;
    top: 0;
    left: 0;
    width: min(84.5%, 1073px);
    height: 0px;
    border-top: $border;
    // opacity: 0.4;
  }

  &__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: min(7.3vw, 100px);
    -moz-column-gap: min(7.3vw, 100px);
    column-gap: min(7.3vw, 100px);

    @media (max-width: 768px) {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      row-gap: 40px;
      width: 100%;
    }
  }

  &__nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: clamp(10px, 5.6vw, 77px);
    -moz-column-gap: clamp(10px, 5.6vw, 77px);
    column-gap: clamp(10px, 5.6vw, 77px);

    @media (max-width: 576px) {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 90%;
    }
  }

  &__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    row-gap: 16px;
  }

  &__nav-item {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  &__nav-link {
    @include footer_main_text;

    &:hover,
    &:active {
      color: $blue05;
    }
  }

  &__nav-title {
    @include footer_title;

    width: -webkit-max-content;

    width: -moz-max-content;

    width: max-content;
    margin-bottom: 32px;
  }

  &__sign {
    @include sign_text;

    @media (max-width: 768px) {
      width: 100%;
      text-align: center;
    }
  }
}
