.form {

  &__legend {
    @include title3;
    font-weight: 600;
    color: $blue01;
  }

  &__label {
    display: flex;
    flex-direction: column;
    column-gap: 8px;
    @include form_text;
  }

  &__name,
  &__email,
  &__msg,
  &__submit {
    width: min(95vw, 428px);
  }

  &__name,
  &__email,
  &__msg {
    border: 1px solid $blue03;
    border-radius: 10px;
    padding: 21px 42px;
    font: inherit;
    color: $blue02;
  }

  &__msg {
    min-height: 144px;

    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $blue03;
      border-radius: 100px;
    }
  }
}