body {
  font: {
    family: Gilroy;
    style: normal;
    weight: 400;
    size: 16px;
  }
  color: $white;
  min-width: 320px;
}

.container {
  width: min(100%, 1366px);
  margin: 0 auto;
}

.card-wrapper {
  border-radius: 10px;
  border: none;
  background-color: $white;
  box-shadow: $card-shadow;
}

.article {
  display: flex;
}

.article-text {
  @include main_text;
}

.article-title {
  @include title2;

  @media (max-width: 768px) {
    max-width: 100%;
    text-align: center;
  }
}