body {
  font: {
    family: Gilroy;
    style: normal;
    weight: 400;
    size: 16px;
  }
  min-width: 320px;
}

.container {
  width: min(100%, 1366px);
  margin: 0 auto;
}

.one {
  height: 500px;
  background-color: gray;

}
.two {
  height: 1000px;
  background-color: aquamarine;
}
