.lets-talk {
  &__container {
    background-color: $blue04;
    padding-right: min(7vw, 96px);

    @media (max-width: 768px) {
      padding-right: 0;
    }
  }

  &__subcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: clamp(20px, 13vw, 180px);
    background-color: $blue02;
    @include paddings;
    padding-top: 96px;
    padding-bottom: 96px;
    border-top-right-radius: 200px;

    @media (max-width: 990px) {
      border-top-right-radius: 150px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      row-gap: 20px;
      border-top-right-radius: 100px;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    @media (max-width: 576px) {
      border-top-right-radius: 50px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &__article {
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
    row-gap: 32px;

    @media (max-width: 768px) {
      width: 100%;
      align-items: center;
    }
  }

  &__title {
    max-width: 320px;
  }

  &__text {
    max-width: 460px;
  }

  &__title,
  &__text {
    @media (max-width: 768px) {
      max-width: 100%;
    }
  }
}