// display style
@mixin display(
    $justi: center,
    $align: center,
    $r-gap: unset,
    $c-gap: unset
) {
    justify-content: $justi;
    align-items: $align;
    row-gap: $r-gap;
    column-gap: $c-gap;
}
// flex
@mixin flex(
    $dir: row,
    $args...
) {
    display: flex;
    flex-direction: $dir;
    @include display($args...);
}

@mixin flex_c-c {
    @include flex;
}

@mixin flex_c-c-col {
    @include flex($dir: column);
}

@mixin flex_c-betw {
    @include flex($justi: space-between);
}

// grid
@mixin grid($args...) {
    display: grid;
    @include display($args...);
}