.what-help {


  &__container {
    padding-top: 180px;
    padding-right: $clamp;
    padding-bottom: 212px;
    padding-left: $clamp;

  }

  &__title {
    margin-top: 12px;
    max-width: 400px;
    color: $blue02;
  }

  &__cards {
  }
}